body{
    margin: 0;
    background-color: red;
    font-family:'Montserrat', sans-serif;

}

h1, h2{
    color: blue;
    text-align: center;
    font-weight: 1000;
}

nav{
    text-align: center;
    font-size: 15pt;

}


